<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cloud.css" />
    <script defer src="open_links.js"></script>
    <script defer src="detect_device.js"></script>
    <script defer type="module" src="cloud.js"></script>
    <title><%- title %></title>
  </head>
  <body>
    <!-- <div id="cursor"></div> -->
    <div id="content_h1">
      <h1 id="page_title">FileDownloadExplorer</h1>
    </div>
    <button id="btn_back">⬅️</button>
    <main class="main_cloud">
      
      <% for( let i = 0; i < list_files.length; i++ ) { %>
        <% if (list_files[i].isFolder == true) { %>
          <div class="container_items">
            <img src="items/folder.png" alt="" id="imagenes" />
            <li class="name_item"><%= list_files[i].name %></li>
          </div>
        <% } else { %>
        <div class="container_items">
          <img src="items/<%= list_files[i].type %>.png" alt="" id="imagenes" />
          <li class="name_item"><%= list_files[i].name %></li>
        </div>
        <% } %>
      <% } %>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
